.contenedor {
  width: auto; 
  margin-top: 6%;
  height: 100%;
  margin-left: 250px;
  transition: all 0.4s;   
  overflow-y: scroll; 
}

.contenedor.active {
  margin-left: 0 !important;
}

@media (max-width: 800px) {
  /* cuando la pantalle sea más pqueña  */
  .contenedor {
    /* ocultar el sidebar */
    margin-left: 0px;
    margin-top: 17%;
  }
  /* cuando pase la clase active no tener ningún margen  */
  .contenedor.active {
    margin-left: 0px;
    margin-top: 17%;
  }
}

@media (max-width: 425px) {
  /* cuando la pantalle sea más pqueña  */
  .contenedor {
    /* ocultar el sidebar */
    margin-left: 0px;
    margin-top: 24%;
  }
  /* cuando pase la clase active no tener ningún margen  */
  .contenedor.active {
    margin-left: 0px;
    margin-top: 24%;
  }
}