<div class="row animated fadeInLeft container-fluid py-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="py-5">
            <div class="card">
                <div class="card-body">
                    <form (ngSubmit)="login_in()" autocomplete="off" [formGroup]="loginForm">
                        <div class="form-group">
                            <label for="email" class="float-left">Email*</label>
                            <input name="email" type="email" class="form-control" required id="email"
                                placeholder="Ingrese correo electronico" formControlName="email" />
                        </div>

                        <div class="form-group">
                            <label for="contraseña" class="float-left">Contraseña*</label>
                            <input name="password" type="password" class="form-control" required id="password"
                                placeholder="Ingrese su contraseña" formControlName="password" minlength="6"  />
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="remember"
                                name="remember" formControlName="remember" />
                            <label class="form-check-label" for="remember">Recordarme</label>
                        </div>
                        <button type="submit" class="btn btn-block btn-outline-secondary">
                            Ingresar
                        </button>
                    </form>
                    <div class="form-group mt-3">
                        <a (click)="irRegister()" class="link">Quiero registrarme <i
                                class="bi bi-arrow-right-circle-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>