<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <figure class="figure">            
            <img src="../../assets/images/nopage.png" alt="Pagina no Encontrada" class="figure-img img-fluid rounded">
          </figure>
        <div class="text-center">
            <button type="button" class="btn btn-primary" title="">
                <h3>ERROR 404</h3>
            </button>
            <p class="text">Lo siento, no se encontró la página</p>
            <a href="#" class="" title="Ir a la pagina principal">Ir a la pagina principal</a>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>