.img-avatar:hover{
    -webkit-box-shadow: 13px 13px 31px -6px rgba(0,0,0,0.77);
    -moz-box-shadow: 13px 13px 31px -6px rgba(0,0,0,0.77);
    box-shadow: 13px 13px 31px -6px rgba(0,0,0,0.77);
}

input[type=file]{
    width: 100%;
    color:transparent;
}