/* contenedor del sidebar */
#sidebar {
  min-width: 250px;
  max-width: 250px; 
  
  background-color: #343a40;
  color: #fff;
  transition: all 0.4s;
  position: absolute;
  height: 100%;
}

/* cuando pase la clase active establecer un margen izquierdo para esconder  */
#sidebar.active  {  
  margin-left: -250px;  
}

/* cabecera del sidebar */
#sidebar .sidebar-header {
  padding: 20px;
  background-color: #343a40;
}

/* lista desordenada */
#sidebar ul.components {
  padding: 20px 0px;
}

#sidebar ul li a {
  padding: 10px 10px 10px 20px;
  font-size: 1.1em;
  display: block;
  color: #fff;
  font-weight: bold;
}

#sidebar ul li a:hover {
  background: #fff;
  color: black;
  text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  background: #fff;
  color: black;
}

/* a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
} */

@media (max-width: 800px) {
  /* cuando la pantalle sea más pqueña  */
  #sidebar {
    /* ocultar el sidebar */
    margin-left: -250px;
  }
  /* cuando pase la clase active no tener ningún margen  */
  #sidebar.active {
    margin-left: 0px;
  }
}
