<div class="row py-3">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">Mi contraseña</h4>
                <h6 class="card-subtitle text-center">Ajustes de mi contraseña</h6>
                <form [formGroup]="perfilFrom" (ngSubmit)="cambiarPassword()" class="form p-t-20 mt-3">
                    <div class="form-group">
                        <label for="exampleInputuname">Contraseña Anterior</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input formControlName="lastPassword" required name="password" type="password" class="form-control" minlength="3" id="exampleInputuname" placeholder="Contraseña Anterior">
                        </div>
                        <span class="animated fadeIn text-danger" *ngIf="campoValido('lastPassword')">
                            * La contraseña anterior es obligatoria
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nueva contraseña</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input formControlName="password" name="password2" required type="password" class="form-control" id="exampleInputEmail1" placeholder="Nueva Contraseña">
                        </div>
                        <span class="animated fadeIn text-danger" *ngIf="campoValido('password')">
                            * La nueva contraseña es obligatoria
                        </span>
                        <div class="form-group">
                            <span class="animated fadeIn text-danger" *ngIf="contrasenasNoValidas()">
                                * Las contraseñas  no pueden ser iguales
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Guardar cambios
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>