<div class="pb-4">
    <div class="row mb-2 animated fadeIn fast">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Usuarios</h4>
                    <!-- <input type="search" class="form-control" placeholder="Buscar usuario..."
                    (keydown)="buscar( txtTermino.value )" #txtTermino />
                     -->
                    <form [formGroup]="buscarForm" (ngSubmit)="buscar( txtTermino.value )"
                        class="input-group mb-2 mr-sm-2">
                        <input #txtTermino type="search" class="form-control" placeholder="Buscar usuario...">
                        <div class="input-group-prepend">
                            <button type="submit" class="btn btn-info"> <i class="fa fa-search"></i> </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2 animated fadeIn fast" *ngIf="cargando">
        <div class="col-12">
            <div class="alert alert-dark text-center">
                <h4 class="alert-heading">Cargando</h4>
                <i class="fa fa-spin fa fa-spinner fa-3x"></i>
                <p class="mb-0">Por favor espere...</p>
            </div>
        </div>
    </div>

    <div class="row mb-5 animated fadeIn fast" *ngIf="!cargando">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Total de usuarios ( {{ usuarios.length }} )</h4>
                    <h6 class="card-subtitle">Todos los usuarios en la aplicación</h6>
                    <div class="table-responsive mt-3">
                        <div *ngIf="!cargando && usuarios.length === 0"
                            class="alert alert-warning text-center mt-3 animated fadeIn faster">
                            <h4 class="alert-heading">No hay registros</h4>
                            <p>
                                <i class="fa fa-exclamation fa-2x"></i>
                            </p>
                        </div>
                        <table *ngIf="!cargando && usuarios.length > 0" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Correo</th>
                                    <th class="w50">edad</th>
                                    <th class="">Roles</th>
                                    <th class="text-nowrap w100">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let usuario of usuarios">
                                    <td>
                                        <a [routerLink]="['/dashboard', 'usuario', usuario.id]">
                                            {{ usuario.nombre }}
                                        </a>
                                    </td>
                                    <td>{{ usuario.apellido }}</td>
                                    <td>{{ usuario.email }}</td>
                                    <td>{{ usuario.edad }}</td>
                                    <td>
                                        <select class="form-control">
                                            <option *ngFor="let role of usuario.roles" [value]="role.id">
                                                {{ role.role }}
                                            </option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <span [routerLink]="['/dashboard', 'user', 'form', usuario.id]" class="label label-danger mr-2 cursor"> <i
                                                class="fa fa-pencil text-warning"></i> </span>
                                        <span class="label label-info ml-2 cursor"> <i
                                                class="fa fa-trash-o text-danger"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>